spikingjelly==0.0.0.0.14
h5py==3.8.0
typing-inspection==0.4.1
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.15.0
einops==0.8.0
tqdm==4.67.1
pandas==2.0.3
Pillow==10.0.1
timm==0.4.12
mne==1.9.0
mne-bids==0.16.0